<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <span th:text="${item.id}">id</span>
            <span th:text="${item.name}">laji</span>
            <span th:text="${item.duration}">kesto</span>
            <!--<span th:text="${item.distance}">matka</span> -->
            <span th:text="${item.notes}">muistiinpanot</span>
        </div>
    </body>
</html>
